[Unit]
Description=wlan0 power management
After=network.target

[Service]
ExecStart=/home/pi/services/rpiwlan0poweroff/wlan0poweroff.sh

[Install]
WantedBy=multi-user.target
